# vim undodir - security issue when published as it contains undo histories of files
neovim/.config/nvim/undodir/*
neovim/.config/nvim/plugin

# vpn credentials and ovpn files
vpn/.config/vpn/pass.txt
*.ovpn

fish/.config/fish/conf.d/
fish/.config/fish/completions/
fish/.config/fish/functions/
fish/.config/fish/fish_variables

# Bookmarks from awesomewm - may contain sensitive information
awesome/.config/awesome/bookmarks

# Ingore emacs elpa packages
emacs/.emacs.d/elpa
# And projectile bookmarks
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/auto-save-list
emacs/.emacs.d/transient/
emacs/.emacs.d/.lsp-session*
