* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar {
  padding: 0 5px;
  font-family: "Fantasque Sans Mono", monospace;
  font-size: 12px;
  background-color: #282828;
  color: #ebdbb2;
}


.separator {
  background-color: #282828;
  color: #ebdbb2;
  padding: 0 0.3em;
  font-family: "Fantasque Sans Mono", monospace;
  font-size: 12px;
}

.sidestuff slider {
  color: #ebdbb2;
}

.metric scale trough highlight {
  background-color: #fe8019;
  color: #ebdbb2;
  border-radius: 10px;
}

.metric scale trough {
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 0.3em;
  margin-right: 0.5em;
}

.label-ram {
  font-size: large;
}

.workspaces button {
  padding: 0 0.4em;
  margin: 0;
}

.workspaces .focused {
  background-color: #fe8019;
}

.workspaces .inactive {
  background-color: #3c3836;
}
